/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-tailgrids-contact {
	border: 1px dotted #f00;
}

.tailgrids-contact-editor {
	padding: 60px 0;
	text-align: center;
	&__top {
		padding: 50px 0;
	}
	&__bottom {
		padding: 50px 0;
	}
}