/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-tailgrids-partner {
	background-color: #F4F7FF;
	padding: 2px;
	min-height: 200px;
}

.tailgrids-partner {
	padding: 100px 0;
	display: flex;
	align-items: center;
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}

// Responsiveness

@media (max-width: 575.98px) {

}

@media (max-width: 777.98px) {

}

@media (max-width: 991.98px) {
	.tailgrids-partner__wrapper {
		justify-content: center;
	}
}

@media (max-width: 1199.98px) {

}

@media (max-width: 1299.98px) {

}
