/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-tailgrids-simple-contact {
	padding: 2px;
}

.tailgrids-simple-contact {
	margin: 60px 0;
	&__text {
		max-width: 650px;
		margin: 0 auto;
		text-align: center;
		&--heading {
			font-size: 40px;
			font-weight: 700;
			margin: 15px 0;
		}
		&--subheading {
			font-size: 17px;
			font-weight: 600;
			color: #3056D3;
		}
		&--caption {
			font-size: 16p;
			font-weight: 400;
			color: #637381;
		}
	}
	&__detail {
		display: flex;
		margin-top: 50px;
		justify-content: space-evenly;
	}
}